<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pinterest</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-white-100">
    <header class="bg-white p-4 flex justify-between items-center fixed w-full top-0 z-10">
        <div class="flex items-center gap-2">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" alt="Pinterest Logo"
            class="h-10">
            <span class="font-bold text-lg">PinSpiration</span>
        </div>
        <div class="flex items-center gap-3">

            <div class="bg-red-600 rounded-[20px] p-2 px-3">
                <a href="/loginPage" class="text-white font-semibold">Log in</a>

            </div>

            <div class="bg-zinc-200 rounded-[20px] p-2 px-3 text-black">

                <a href="/signupPage" class="font-semibold">Sign up</a>
            </div>
        </div>
    </header>