<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - Pinterest</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 flex justify-center items-center min-h-screen">

    <% if(success_msg.length > 0) { %>
        <div class="absolute top-5 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded" role="alert">
            <strong class="font-bold"><%= success_msg %></strong>
          </div>
    <% } %>

    <% if(error_msg.length > 0) { %>
        <div class="absolute top-10 left-1/2 -translate-x-1/2 -translate-y-1/2 p-3 bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded" role="alert">
            <span class="inline-block mt-1 mb-1 font-bold">
                <%= error_msg %>
            </span>
        </div>
    <% } %>

    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md">
        <div class="text-center mb-6">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/08/Pinterest-logo.png" alt="Pinterest Logo" class="h-12 mx-auto">
            <h2 class="text-2xl font-semibold text-gray-800 mt-2">Sign Up</h2>
            <p class="text-gray-600">Create an account to explore creativity</p>
        </div>
        <form action="/users/signup" method="post" class="space-y-4">
            <input type="text" name="name" placeholder="Your Name" class="w-full p-3 border rounded-lg" required>
            <input type="text" name="username" placeholder="Your Username" class="w-full p-3 border rounded-lg" required>
            <input type="email" name="email" placeholder="Email" class="w-full p-3 border rounded-lg" required>
            <input type="password" name="password" placeholder="Password" class="w-full p-3 border rounded-lg focus:ring-2 focus:ring-red-500" required>
            <button type="submit" class="w-full bg-red-600 text-white p-3 rounded-lg hover:bg-red-700">Sign Up</button>
        </form>
        <p class="text-gray-600 text-center mt-4">Already have an account? <a href="/loginPage" class="text-red-600 font-semibold">Log in</a></p>
    </div>
</body>
</html>
